name: Build and Release

on:
  push:
    tags: ['*']
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            path: dist/ridi.bin
          - os: windows-latest
            path: dist/ridi.exe

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          github-token: ${{ github.token }}

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run build
        run: uv run python -m nuitka ridi.py --assume-yes-for-downloads

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: dist-${{ matrix.os }}
          path: ${{ matrix.path }}
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref_type == 'tag'

    steps:
      - name: Download build
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ridi.exe
            ridi.bin
